 <div class="container text-light"><br><br>
    <% if @contact.errors.any? %>
      <%= @contact.errors.count %>件のエラー。
      <% @contact.errors.full_messages.each do |message| %>
      <%= message %>。
      <% end %>
    <% end %>
    <h1 class="contact-title">オーダーメイド注文ページ</h1><br>
      <%= form_with model: @contact do |f| %>
        <h2>～注意事項～</h2><br>
        <h5>　容量は「その他要望」欄に記入お願いします。記入がなかった場合は香油形状の5mlサイズで作成させて頂きます。<h5><br>
        <h5>　形状は、香油、アロマスプレー、ブレンドオイル、ヘアオイルでご用意出来ます。</h5><br>
        <h5>　容量は、5ml、10ml、15ml、20mlまでご用意出来ます。</h5><br>
        <h5>　金額は形状、容量にて変動されます。こちらで依頼内容確認次第、返信欄に金額、作成日数お伝えさせて頂きます。</h5><br>
        <h5>　形状、容量で上記以外をご要望の際には「その他要望」にご記入ください。</h5><br>
        <h5>　返信に関しては「オーダー内容」に依頼日を「その他要望欄」に返信内容を記入し送信をお願いします。</h5><br>
        <%= f.label :オーダー内容（※依頼日） %>
          <%= f.text_field :title, class: "form-control col-6" %><br>
          <%= f.label :その他要望（※返信内容） %>
          <%= f.text_field :body, class: "form-control col-6" %><br>
          <p>※返信時の記入内容ですのでオーダーメイド時は記入不要です。</p>
          <%= f.submit "送信" %>
        <% end %><br>
</div>