<div class="container mt-5 mb-5 text-light">
  <div class="row text-center text-xs-center text-sm-left text-md-left">
    <div class="col-xs-12 col-sm-6 col-md-6 item-details mx-auto "><br>
      <%= image_tag @item.get_image(100,100), format: "jpeg", fallback: "default-image.jpeg" %>
      <h2><strong><%= @item.name %></strong></h2><br>
      <h4><%= simple_format(@item.introduction) %></h4><br>
      <h3>￥<%= @item.change_price %> (税込)</h3><br>
      <%= link_to "編集する", edit_admin_item_path, class:"btn btn-success" %>
    </div>
  </div>
</div>