<%= form_for(@perfume, class: 'form-horizontal', role: 'form') do |f| %>
  <div class="container-sindan text-light">
    <!--<div class="row">-->
      <div class="text-center font-weight-bold">
        <h2>Question1. どちらかと言うと…</h2><br>
      </div>
      <div class="text-center">
        <h5><%= f.check_box :question, {multiple: true}, "1", nil %>じっくり考える方だ &ensp;<%= f.check_box :question, {multiple: true}, "2", nil %>考えるより行動する方だ</h5><br>
      </div>

      <div class="text-center font-weight-bold">
        <h2>Question2. 価値観として近い方は…</h2><br>
      </div>
      <div class="text-center">
        <h5><%= f.check_box :question, {multiple: true}, "1", nil %>周りの人と違う存在でありたい &ensp;<%= f.check_box :question, {multiple: true}, "2", nil %>周りと同じでいたい</h5><br>
      </div>

      <div class="text-center font-weight-bold">
        <h2>Question3. 人と接するときは…</h2><br>
      </div>
      <div class="text-center">
        <h5><%= f.check_box :question, {multiple: true}, "1", nil %>相手の話をよく聞く方だ &ensp;<%= f.check_box :question, {multiple: true}, "2", nil %>自分の話をよくする方だ</h5><br>
      </div>

      <div class="text-center font-weight-bold">
        <h2>Question4. 大切にしたいのは…</h2><br>
      </div>
      <div class="text-center">
        <h5><%= f.check_box :question, {multiple: true}, "1", nil %>論理性だ &ensp;<%= f.check_box :question, {multiple: true}, "2", nil %>情緒だ</h5><br>
      </div>
    <!--</div>-->
  </div>
  <div class="sindanbotan col-10 text-right">
      <%= f.submit "診断" %>
  </div>
<% end %>