<div class="container text-light">
	<div class="row my-3">
		<div class="col-sm-10 px-sm-0 offset-sm-1"><br>
			<h2>お問い合わせ内容</h2>
		</div>
	</div>
	<div class="row">
		<div class="">
		  <%= form_for @contact, url: admin_contact_path do |f| %>
		    <h5>顧客名</h5>
					<h4><%= @contact.customer.last_name + " " + @contact.customer.first_name %>さん</h4><br>
				<h5>問い合わせ日</h5>
					<h4><%= @contact.created_at.strftime("%Y年%m月%d日 ") %></h4><br>
				<h5>タイトル</h5>
					<h4><%= @contact.title %></h4><br>
				<h5>問い合わせ内容</h5>
					<h4><%= @contact.body %></h4><br>
				<h5>返信</h5>
					<%= f.text_area :reply, class:"form-control", placeholder: "返信内容" %><br>
					<p>
						※ユーザーからの返事を求める際は最後に下記の文を添えて返信する。<br>
						お手数ですが、ご返答の際は再度『オーダーメイド注文ページ』の「その他要望」へ<br>
						ご記入し、再度送信をお願いします。<br>
					</p>
					<%= f.submit "送信" %>
			<% end %><br>
		</div>
	</div>
</div>