<div class="text-light">
	<div class="row my-3">
		<div class="col-sm-10 px-sm-0 offset-sm-1"><br>
			<h2>オーダーメイド注文一覧</h2><br>
		</div>
	</div>
	<div class="row my-3">
		<div class="col-sm-10 px-sm-0 offset-sm-1">
			<table class="table table-bordered text-light">
		  	<thead>
					<tr>
						<th>ユーザー名</th>
						<th>オーダーメイド内容</th>
						<th>その他</th>
						<th>受信日</th>
						<th>返信内容</th>
					</tr>
				</thead>
				<tbody>
					<% @users.each do |customer| %>
						<% customer.contacts.each do |contact| %>
							<tr>
								<td><%= contact.customer.last_name + " " + contact.customer.first_name%></td>
								<td><%= contact.title %></td>
								<td><%= contact.body %></td>
								<td><%= contact.created_at.strftime("%Y年%m月%d日 ") %></td>
								<td><%= contact.reply %></td>
								<td><u><%= link_to "返信", edit_admin_contact_path(contact), class: "text-light" %></u></td>
							</tr>
						<% end %>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div><br><br>